<div id="template" style="display: none" class="row">
    <div class="col">
        <canvas width="640" height="480"></canvas>
    </div>
    <div class="col">
        <table class="table objTable">
            <thead>
                <tr>
                    <th scope="col">Class</th>
                    <th scope="col">Score</th>
                    <th scope="col">Diff%</th>
                    <th scope="col">Area%</th>
                    <!--th scope="col">Conf%</th-->
                </tr>
            </thead>
            <tbody>
                <tr id="objRowTemplate" style="display:none" data-field="event">
                    <th data-field="class" scope="row">UNDEF</th>
                    <td data-field="score">UNDEF</td>
                    <td data-field="diff">UNDEF</td>
                    <td data-field="area">UNDEF</td>
                    <!--td data-field="eventConfidence">UNDEF</td-->
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col">
        <table class="table camInfoTable">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Last</th>
                    <th scope="col">Avg</th>
                    <th scope="col">Spike</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <th scope="row">Total Diff%</th>
                    <td data-field="totalDiff">0.01</td>
                    <td data-field="mean_totalDiff">0.01</td>
                    <td data-field="spike_totalDiff">0.01</td>
                </tr>
                <tr>
                    <th scope="row">Total Time</th>
                    <td data-field="time">500</td>
                    <td data-field="mean_time">500</td>
                    <td data-field="spike_time">500</td>
                </tr>
                <tr>
                    <th scope="row">Queue Time</th>
                    <td data-field="queueTime">120</td>
                    <td data-field="mean_queueTime">120</td>
                    <td data-field="spike_queueTime">120</td>
                </tr>
                <tr>
                    <th scope="row">Inference Time</th>
                    <td data-field="infTime">300</td>
                    <td data-field="mean_infTime">300</td>
                    <td data-field="spike_infTime">300</td>
                </tr>
                <tr>
                    <th scope="row">Diff Time</th>
                    <td data-field="diffTime">40</td>
                    <td data-field="mean_diffTime">40</td>
                    <td data-field="spike_diffTime">40</td>
                </tr>
                <tr>
                    <th scope="row">Auto Threshold</th>
                    <td data-field="autoThreshold">25</td>
                    <td data-field="mean_autoThreshold">25</td>
                    <td data-field="spike_autoThreshold">25</td>
                </tr>
                <tr>
                    <th scope="row">Adaptive Threshold</th>
                    <td data-field="timeAdaptiveThreshold">25</td>
                    <td></td>
                    <td></td>
                </tr>
                
            </table>
            
            <!--button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#settingsModal" data-whatever="CamIdHere">Settings</button-->
    </div>
</div>